#profile {
	height: 10px;
	width: 20;
}

body {
	margin: 0px;
	text-align: center;
	font-family: 'Constantania', serif,cursive;
}

h1{
	color: #30E3CA;
	margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 5.625rem;
}

.subtitle {
	font-size: 2rem;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

h2{
	color: #30E3CA;
	font-family: cursive;
}

h3{
	color: #30E3CA;
}

hr {
	border-color: grey;
	border-style: dotted none none;
	border-width:5px;
	width: 5%;
	margin: 50px auto 50px auto;
}

.website {
	color: #1bad9a;
}

.website:hover {
	color: red;
}
	
.website-detail {
	color: #30E3CA;
}

.top-container{
	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px; 
}

.profile {
	width: 50%;
	margin: 50px auto 50px auto;
	line-height: 2;
	padding: 1%;
	background-color: #E4F9F5;
}

.myresume {
	border-width: 10px;
	padding: 1%;
	margin: 1% 18%;
	background-color: #E4F9F5;
}

.skills {
	border-width: 10px;
	padding: 1%;
	margin: 1% 18%;
	background-color: #E4F9F5;
}

.skill-row {
	margin: 10% 5% ;
	text-align: left;
	line-height: 2;
}


.bottom-container{
	background-color: #E4F9F5;
	margin: auto;
	padding-bottom: 1%;
	padding-top:2%;
}

.footer-link {
	color: #11999E;
	margin-left: 50px;
	margin-right: 50px;
	text-decoration: none;
}

.computer-img {
	width: 30%;
	float: left;
	margin-right: 30px;
}

.mountain-img {
	width: 30%;
	float: right;
	margin-left: 30px;
}

#profile-img {
	width:30%;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	top: 380px;
	}	

.top-cloud {
	position: absolute;
	right: 300px;
	top: 50px;

}

.copyright-para{
	font-family: cursive;
	font-size:.75em;
	color: red;
}

#contact-para{
	margin-bottom:50px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px; 
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.btn + br {
    display: block;
    content: '';
    margin-top: 40px;
}


.footer-link:hover {
	color:red
}
