#profile {
	height: 5%;
	width: 10%;
}

body {
	margin: 0%;
	text-align: center;
	font-family: 'Constantania', serif,cursive;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 9%;
}

h1 {
    color: #30E3CA;
    margin: 5% auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5vw;
}

.subtitle {
    font-size: 2vw;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.top-cloud {
    position: absolute;
    right: 23%; 
    top: 10%; 
    width: 15%; 
}

.bottom-cloud {
    position: absolute;
    left: 23%;
	top: 48%;
    width: 15%;
}

/* Add media queries for adjusting properties based on screen size */
@media screen and (max-width: 51.0417%) {
    h1 {
        font-size: 8vw;
    }
    
    .subtitle {
        font-size: 3vw;
    }
    
    .top-cloud, .bottom-cloud {
        width: 30%;
    }
}

@media screen and (max-width: 41.67%) {
    h1 {
        font-size: 10vw;
    }
    
    .subtitle {
        font-size: 4vw;
    }
    
    .top-cloud, .bottom-cloud {
        width: 40%;
    }
}

h2{
	color: #30E3CA;
	font-family: cursive;
}

h3{
	color: #30E3CA;
}

hr {
    border: none;
    height: 5px; 
    background: linear-gradient(to right, rgba(48, 227, 202, 0), rgba(48, 227, 202, 0.75), rgba(48, 227, 202, 0));
    animation: pulse 2s infinite alternate; 
    width: 20%; 
    margin: 3% auto; 
}

@keyframes pulse {
    0% {
        width: 4%; 
    }
    100% {
        width: 70%; 
    }
}

.website {
	color: #1bad9a;
}

.website:hover {
	color: red;
}
	
.website-detail {
	color: #30E3CA;
}

.profile {
	width: 50%;
	margin: 4% auto 2.5% auto;
	line-height: 2;
	padding: 1%;
	background-color: #E4F9F5;
}

.myresume {
	border-width: 2%;
	padding: 1%;
	margin: 1% 18%;
	background-color: #E4F9F5;
}

.skills {
	border-width: 2%;
	padding: 1%;
	margin: 1% 18%;
	background-color: #E4F9F5;
}

.skill-row {
	margin: 10% 5% ;
	text-align: left;
	line-height: 2;
}


.bottom-container{
	background-color: #E4F9F5;
	margin: auto;
	padding-bottom: 1%;
	padding-top:2%;
}

.footer-link {
	color: #11999E;
	margin-left: 3%;
	margin-right: 3%;
	text-decoration: none;
}

.computer-img {
	width: 30%;
	float: left;
	margin-right: 5%;
}

.mountain-img {
	width: 30%;
	float: right;
	margin-left: 5%;
}

#profile-img {
	width:30%;
}

.copyright-para{
	font-family: cursive;
	font-size:.75em;
	color: red;
}

.footer-link:hover {
	color:red
}
