#profile {
	height: 5%;
	width: 10%;
}

body {
	margin: 0%;
	text-align: center;
	font-family: 'Constantania', serif,cursive;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 9%;
}

h1 {
    color: #30E3CA;
    margin: 5% auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5vw;
}

.subtitle {
    font-size: 2vw;
    color: #79cec3;
    font-family: 'Constantania', serif;
}

.sun {
    position: absolute;
    top: 8%;
    right: 25%;
    width: 6%;
    height: 9%;
	max-height: 8%;
	min-width: 50px;
    background: radial-gradient(circle at center, #FFD700 0%, #FFA500 50%, transparent 100%);
    border-radius: 50%;
    animation: glow 2s infinite alternate;
}

.sun::before {
    content: "";
    position: absolute;
    top: -20%;
    left: -20%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
}

.sun::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    animation: rays 5s linear infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px 10px #cfc383;
    }
    100% {
        box-shadow: 0 0 40px 20px #FFD700;
    }
}

@keyframes rays {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.top-cloud {
    position: absolute;
    left: -20%; /* Move the cloud off-screen to the left */
    top: 14%;
    width: 15%;
    animation: moveInTopCloud 3s forwards; /* Animation to move the cloud in */
}

@keyframes moveInTopCloud {
    0% {
        left:-20%; /* Start position */
    }
    100% {
        left: 58%; /* End position (current position) */
    }
}

.bottom-cloud {
    position: absolute;
	right: -20%;
	top: 50%;
    width: 15%;
	animation: moveInBottomCloud 3s forwards;
}

@keyframes moveInBottomCloud {
    0% {
        right: -20%; /* Start position */
    }
    100% {
        right: 62%; /* End position (current position) */
    }
}

/* Media queries for adjusting properties based on screen size */
@media screen and (max-width: 51.0417%) {
    h1 {
        font-size: 8vw;
    }
    
    .subtitle {
        font-size: 3vw;
    }
    
    .top-cloud, .bottom-cloud {
        width: 30%;
    }
}

@media screen and (max-width: 41.67%) {
    h1 {
        font-size: 10vw;
    }
    
    .subtitle {
        font-size: 4vw;
    }
    
    .top-cloud, .bottom-cloud {
        width: 40%;
    }
}

h2{
	color: #30E3CA;
	font-family: cursive;
}

h3{
	color: #30E3CA;
}

hr {
    border: none;
    height: 5px; 
    background: linear-gradient(to right, rgba(48, 227, 202, 0), rgba(48, 227, 202, 0.75), rgba(48, 227, 202, 0));
    animation: pulse 2s infinite alternate; 
    width: 20%; 
    margin: 3% auto; 
}

@keyframes pulse {
    0% {
        width: 4%; 
    }
    100% {
        width: 70%; 
    }
}

.website {
	color: #1bad9a;
}

.website:hover {
	color: red;
}
	
.website-detail {
	color: #30E3CA;
}

.profile {
	width: 50%;
	margin: 2.5% auto;
	line-height: 2;
	padding: 1%;
	background-color: #E4F9F5;
}

.animated-list li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated-list li.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-list li:hover {
    background-color: #99f6f6cf;
	padding: 1%;
    transition: background-color 0.3s ease;
	font-size: 1.1em; 
	border-radius: 1%;
}


.myresume {
	border-width: 2%;
	padding: 1%;
	margin: 1% 18%;
	background-color: #E4F9F5;
}

.skills {
	border-width: 2%;
	padding: 1%;
	margin: 1% 18%;
	background-color: #E4F9F5;
}

.skill-row {
	margin: 10% 5% ;
	text-align: left;
	line-height: 2;
}


.bottom-container{
	background-color: #E4F9F5;
	margin: auto;
	padding-bottom: 1%;
	padding-top:2%;
}

.footer-link {
	color: #11999E;
	margin-left: 3%;
	margin-right: 3%;
	text-decoration: none;
}

.computer-img {
	width: 30%;
	float: left;
	margin-right: 5%;
}

.mountain-img {
	width: 30%;
	float: right;
	margin-left: 5%;
}

#profile-img {
    width: 30%;
    transition: transform 0.3s ease-in-out;
}

#profile-img:hover {
    transform: scale(1.1);
}


.copyright-para{
	font-family: cursive;
	font-size:.75em;
	color: red;
}

.footer-link:hover {
	color:red
}


  /* Moon */
  .moon {
    position: absolute;
    top: 9%;
    right: 25%;
    width: 6%;
    height: 9%;
    max-height: 8%;
    min-width: 50px;
    /* background: radial-gradient(circle at center, #f0f0f0 0%, #cccccc 50%, transparent 100%); */
    border-radius: 50%;
    animation: mglow 3s infinite alternate;
  }

  .moon::before {
    content: "";
    position: absolute;
    top: -20%;
    left: -20%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
  }

  /* Moon glow animation */
  @keyframes mglow {
    0% {
        box-shadow: 0 0 20px 10px #171616e6;
    }
    100% {
        box-shadow: 0 0 40px 20px #fffff8b4;
    }
  }

  /* Stars */

  .star-fixed {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: #abdbdf;
    border-radius: 100%;
  }


  .star {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: #abdbdf;
    border-radius: 100%;
    animation: twinkling 4s infinite;
  }

  @keyframes twinkling {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }






/* CSS for day mode */
.top-container {
    background-color: #E4F9F5;
}

/* CSS for night mode */
.night-mode {
    background-color: #000;
}

.night-mode .sun {
    display: none; /* Hide the sun in night mode */
}

.night-mode .top-cloud {
    opacity: 0.5; /* Reduce opacity of the cloud in night mode */
}

.night-mode .moon {
    display: block; /* Display the moon in night mode */
}

.night-mode .star {
    display: block; /* Display the moon in night mode */
}

.night-mode .star-fixed {
    display: block; /* Display the moon in night mode */
}

.moon {
    display: none; /* Hide the moon by default */
}

.star {
    display: none; /* Hide the moon by default */
}

.star-fixed {
    display: none; /* Hide the moon by default */
}
